html {
	font-family: "Roboto";
	color: #ffffff;	
}

body {
	background-color: #121212;
	user-select: none;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0.5;
}

 /* material design typography scale: 
  * https://material.io/design/typography/the-type-system.html#type-scale
  */
h1 {
	font-weight: lighter;
	font-size: 96px;
	letter-spacing: -1.5px;
}

h2 {
	font-weight: lighter;
	font-size: 60px;
	letter-spacing: -0.5px;
}

h3 {
	font-weight: normal;
	font-size: 48px;
	letter-spacing: 0px;
}

h4 {
	font-weight: normal;
	font-size: 34px;
	letter-spacing: 0.25px;
}

h5 {
	font-weight: normal;
	font-size: 24px;
	letter-spacing: 0px;
}

h6 {
	font-weight: bolder;
	font-size: 20px;
	letter-spacing: 0.15px;
}