body {
	user-select: none;
	background-color: #121212;
	color: #ffffff;	
}

body, html {width: 100%; height: 100%; margin: 0; padding: 0}	

.acrylic-backdrop {
	backdrop-filter: blur(5px);
}

.titlebar-buttons {
    -webkit-app-region: none;
}

.range-field {
	transform: translate(0px, -4px);
}

#titlebar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
	background-color: #808080ab;
	position: fixed;	
	line-height: 56px;
	height: 56px;
}

#mainview {
	width: 100%;
	height: 100%;
}

#mainview iframe {
	width: 100%;
	height: 100%;
	border: none;
}

#titlebar-search {
	-webkit-app-region: none;
	position: fixed;
	margin: 0px;
	display: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	width: 360px;
	height: 56px;
}

#titlebar-search input{
	width: 336px;
	height: 50%;
	margin: 0px;
	padding: 2px 0px 2px 40px;
	background-color: #ffffff;
	border-radius: 4px;
}

#titlebar-search i{
	color: #000000;
	font-size: 24px;
	padding-left: 8px;
	width: 24px;
	top: 0px;
}

#bottom-panel {
	padding: 0px 12px;
	line-height: 56px;
	background-color: #808080ab;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#now-playing{
	display: inline-block;
}

#now-playing-text {
	min-width: 240px;
	max-width: 420px;
	margin-left: 140px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#now-playing li{
	margin-right: 5px;
	vertical-align: text-bottom;
}

#now-playing-album-art-frame {
	border-radius: 6px;
	position: absolute;
	transform: translate(0px, -80px);
	background-color: #ffffff57;
	vertical-align: center;
	width: 128px;
	height: 128px;
	border: none;
	padding: 4px;
}

#now-playing-album-art {
	border-radius: 4px;
	border: none;
	margin: auto;
	width: 100%;
	height: 100%;
}

#media-controls {
	justify-self: flex-end;
	margin-left: auto;
}

#media-controls li {
	display: inline;
}

#seek-duration, #seek-current-time {
	width: 42px;
	height: 10px;
	text-align: center;
}

#seek-slider {
	width: 240px;
	margin: 0px 10px;
}

#volume-slider-field {
	padding: 0px 10px 60px 10px;
	height: 52px;
	display: none;
	position: absolute;
	transform: translate(-34px, -142px) rotate(-90deg);
	background-color: #808080ab;
	border-radius: 4px;
}

#volume-slider {
	width: 100px;
}

#volume-button:hover + #volume-slider-field, #volume-slider-field:hover {
	display: block;
}