.main-container {
    margin: auto;
    width: 100%;
    min-width: 720px;
    max-width: 1320px;
    padding: 56px 56px 112px 56px;
}

.container {
    padding: 10px 0px;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
    width: 100%;
}

.tile-frame {
    width: 152px;
    border-radius: 6px;
    margin: 0px 30px 30px 0px;
	background-color: #ffffff57;    
	padding: 4px;
}

.tile-img {
    border-radius: 4px;
    padding: 0px;
    width: 100%;
}

#main-header {
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

#splash-text {
    font-weight: normal;
    font-size: 24px;
}

/* scroll bars */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 2px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #888;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 56px; 
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 56px;    
}