<!DOCTYPE html>
<html id="artist" class="theme-dark">

<head>
    <title>Artist View</title>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="../node_modules/flickity/dist/flickity.css">
    <link rel="stylesheet" href="../styles/view-styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div id="sidenav"></div>

    <ul id="indexed-list"></ul>

    <div class="main-container">
        <div class="container">
            <h2 id="main-header"></h2>
        </div>
    </div>    

    <script src="../scripts/theme-switcher.js"></script>
    <script src="../scripts/sidenav.js"></script>
    <script src="../scripts/artist-view.js"></script>

</body>

</html>