<!DOCTYPE html>
<html class="theme-dark">

<head>
    <title>Home View</title>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="../node_modules/flickity/dist/flickity.css">
    <link rel="stylesheet" href="../styles/view-styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="parallax">
        <div class="main-container">
            <div class="container">
                <h2 id="main-header"></h2>
                <div id="splash-text"></div>
            </div>
            <div class="container">
                <h6>Recently played</h6>
                <div id="recently-played"></div>
            </div>
            <div class="container">
                <h6>Most played</h6>
                <div id="most-played"></div>
            </div>
        </div>
        <div class="background"></div>
    </div>

    <script src="../scripts/theme-switcher.js"></script>
    <script src="../node_modules/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="../scripts/home-view.js"></script>

</body>

</html>