<!DOCTYPE html>
<html class="theme-dark">

<head>
    <title>Home View</title>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="../node_modules/flickity/dist/flickity.css">
    <link rel="stylesheet" href="../styles/view-styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div id="sidenav">
        <a href="home-view.html" class="selectable">
            <i class="material-icons small">home</i>
        </a>
        <a href="song-view.html" class="selectable grayed">
            <i class="material-icons small">music_note</i>
        </a>
        <a onClick=""class="selectable grayed">
            <i class="material-icons small">album</i>
        </a>
        <a onClick="" class="selectable grayed">
            <i class="material-icons small">person</i>
        </a>
        <a onClick="" class="selectable grayed">
            <i class="material-icons small">music_video</i>
        </a>
    </div>

    <div class="main-container">
        <div class="container">
            <h2 id="main-header"></h2>
            <div id="splash-text"></div>
        </div>
        <div class="container">
            <h6>Recently played</h6>
            <div id="recently-played"></div>      
        </div>
        <div class="container">
            <h6>Most played</h6>
            <div id="most-played"></div> 
        </div>
    </div>    

    <script src="../scripts/theme-switcher.js"></script>
    <script src="../node_modules/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="../scripts/home-view.js"></script>

</body>

</html>