<!DOCTYPE html>

<head>
    <title>Sidebar for Cadence</title>
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="../node_modules/flickity/dist/flickity.css">
    <link rel="stylesheet" href="../styles/view-styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div id="sidenav">
        <div class="buttonContainer" >
        <a href="home-view.html" class="selectable" title="Home">
            <i class="material-icons small">home</i>
            </a>
            <a href="song-view.html" class="selectable grayed" title="Songs">
                <i class="material-icons small">music_note</i>
            </a>
            <a onClick="" class="selectable grayed" title="Album">
                <i class="material-icons small">album</i>
            </a>
            <a onClick="" class="selectable grayed" title="Artist">
                <i class="material-icons small">person</i>
            </a>
            <a onClick="" class="selectable grayed" title="Now Playing">
                <i class="material-icons small">music_video</i>
            </a>
        </div>
    </div>
    <iframe class="viewpanel" src="./home-view.html"></iframe>

    <script src="../scripts/theme-switcher.js"></script>
</body>