@import url('../node_modules/material-design-icons-iconfont/dist/material-design-icons.css');
@import url('themes.css');

body {
	background-color: var(--background-color);
	user-select: none;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0.5;
	color: var(--foreground-color);	
}

ul {
	color: var(--foreground-color);
}

a {
	text-decoration: none;
	color: var(--foreground-color);
}

a.disabled { 
	pointer-events: none; 
}

a.grayed {
	opacity: 30%;
}

.acrylic-backdrop {
	backdrop-filter: blur(5px);
}

.material-icons {
	color: var(--foreground-color);
}

 /* material design typography scale: 
  * https://material.io/design/typography/the-type-system.html#type-scale
  */
h1 {
	font-weight: lighter;
	font-size: 96px;
	letter-spacing: -1.5px;
}

h2 {
	font-weight: lighter;
	font-size: 60px;
	letter-spacing: -0.5px;
}

h3 {
	font-weight: normal;
	font-size: 48px;
	letter-spacing: 0px;
}

h4 {
	font-weight: normal;
	font-size: 34px;
	letter-spacing: 0.25px;
}

h5 {
	font-weight: normal;
	font-size: 24px;
	letter-spacing: 0px;
}

h6 {
	font-weight: bolder;
	font-size: 20px;
	letter-spacing: 0.15px;
}