@import url('styles.css');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px 80px 0px 80px;
}

/* selectables */
.selectable {
    transition-duration: 0.3s;
}

.selectable:hover {
    background-color: var(--element-hover-color);
    transform:scale(1.025);
}

/* sidenav */

#sidenav {
    float: left;
    position: fixed;
    left: 6px;
    top: 110px;
}

#sidenav a{
    display: block;
    padding: 0px;
    width: 42px;
    height: 42px;
    line-height: 38px;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
} 

#sidenav a i {
    vertical-align: middle;
}   

/* indexed list */

#indexed-list {
    float: right;
    position: fixed;
    right: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#indexed-list a{
    display: block;
    font-weight: bold;
    margin: 1px;
    border-radius: 4px;
    text-align: center;
} 

/* containers */

.main-container {
    margin: auto;
    padding-bottom: 112px;
    width: 100%;
    max-width: 1320px;
}

.container {
    padding-top: 66px;
    width: 100%;
    margin-bottom: -56px;
}

/* headers */

#main-header {
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#splash-text {
    font-weight: normal;
    font-size: 24px;
}

/* home view carousels */

.main-carousel {
    height: 220px;
    padding: 10px 0px;
}

.carousel-cell {
    margin-right: 10px;
}

/* home view, album view, and artist view specific */

.tile-frame {
    border-radius: 6px;
	background-color: var(--tile-frame-color);
	vertical-align: center;
	width: 172px;
	height: 172px;
    padding: 4px;
    margin-bottom: 10px
}

.tile-img {
    padding: 0px;
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
    width: 100%;
}

/* song-view specific */
.track-entry {
    border-radius: 4px;
    background-color: var(--element-color);
    width: 100%;
    height: 48px;     
    padding: 10px;
    margin: 6px 0px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    transition-duration: 0.1s;
}

.track-entry div {
    padding: 0px 10px;
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
	overflow: hidden;
}

.track-entry-title {
    width: 45vw; 
}

.track-entry-album {
    width: 25vw; 
}

.track-entry-artist {
    width: 25vw; 
}

.track-entry-duration {
    min-width: 70px;
    width: 5vw; 
}

/* flickity */ 
.flickity-button {
    background: transparent;
}

.flickity-prev-next-button {
    width: 60px;
    height: 60px;
}

.flickity-button-icon {
    fill: white;
}

.flickity-button:disabled {
    display: none;
}

/* scroll bars */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 56px; 
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 56px;    
}