@import url('styles.css');

body {
    padding: 56px 80px 112px 80px;
}

#sidenav {
    float: left;
    position: fixed;
    left: 12px;
    top: 110px;
}

#sidenav a{
    display: block;
    padding: 0px;
    width: 42px;
    height: 42px;
    line-height: 38px;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
    transition-duration: 0.3s;
} 

#sidenav a:hover {
    background: var(--sidenav-hover-color);
}

#sidenav a i {
    vertical-align: middle;
}   

.main-container {
    margin: auto;
    width: 100%;
    max-width: 1320px;
}

.container {
    padding: 10px 0px;
    width: 100%;
}

#main-header {
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.main-carousel {
    height: 220px;
    padding: 10px 0px;
}

.carousel-cell {
    margin-right: 10px;
}

.tile-frame {
    border-radius: 6px;
	background-color: var(--tile-frame-color);
	vertical-align: center;
	width: 172px;
	height: 172px;
    padding: 4px;
    margin-bottom: 10px
}

.tile-img {
    padding: 0px;
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
    width: 100%;
}

/* no circle */
.flickity-button {
    background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
    width: 60px;
    height: 60px;
}
/* icon color */
.flickity-button-icon {
    fill: white;
}
/* hide disabled button */
.flickity-button:disabled {
    display: none;
}

#splash-text {
    font-weight: normal;
    font-size: 24px;
}

/* scroll bars */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 56px; 
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 56px;    
}